:root {
  --color-primary-violet: hsl(263, 55%, 52%);
  --color-primary-dark-grayish-blue: hsl(217, 19%, 35%);
  --color-primary-dark-blackish-blue: hsl(219, 29%, 14%);
  --color-secondary-light-gray: hsl(0, 0%, 81%);
  --color-secondary-light-grayish-blue: hsl(210, 46%, 95%);
}

$bp-medium: 62.5em; //bp at 1000px
$bp-small: 50em; //bp at 800px
$bp-smallest: 37.5em; //bp at 600px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.3rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary-light-grayish-blue);
  padding: 4em;

  @media only screen and (max-width: $bp-smallest) {
    padding: 4em 2em;
  }
}
